<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT Sans Narrow' rel='stylesheet'>

    <!-- CSS CALLS -->
    <link rel="stylesheet" href="../styles/nav.css" type="text/css" />

  </head>

  <nav>
    <div class="img_div">
      <img src="/images/Logo_Torch.png">
    </div>
    <div class="navMiddle">
      <div class="topMid">
        <label>My Listings</label>
        <label>Favourites</label>
        <label>Create New Listing</label>
      </div>
      <div class="title">
        <span class='title'>Medieval Marketplace</span>
      </div>
    </div>

    <div class="buttons">
      <form class="login" action="login" method="get">
        <button type="submit">Login</button>
      </form>

      <form class="register" action="/register" method="get">
        <button type="submit">Register</button>
      </form>
  </div>

  </nav>
</html>
