<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT Sans Narrow' rel='stylesheet'>

    <!-- CSS CALLS -->
    <link rel="stylesheet" href="../styles/nav.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </head>

  <nav>
    <div class="img_div">
      <img src="/images/Logo_Torch.png">
    </div>

    <div class="navMiddle">
      <div class="topMid">

        <form class="my_listings" action="/listings/my_listings" method="get">
          <button type="submit">My Listings</button>
        </form>

        <form class="favourites" action="/listings/favourites" method="get">
          <button type="submit">Favourites</button>
        </form>

        <form class="new_listing" action="/listings/new" method="get">
          <button type="submit">Create New Listing</button>
        </form>

      </div>

      <div class="title">
        <form class="title" action="/listings" method="get">
          <button type="submit">Medieval Marketplace</button>
        </form>
      </div>

    </div>

    <div class="buttons">
      <form class="login" action="/users/login" method="GET">
        <button type="submit">Login</button>
      </form>

      <form class="register" action="/users/register" method="GET">
        <button type="submit">Register</button>
      </form>

      <%  if(user){  %>
        <form class="logout" action="/users/logout" method="GET">
          <button type="submit">Logout</button>
        </form>
      <%  } %>
  </div>

  </nav>
</html>
