<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT Sans Narrow' rel='stylesheet'>

    <!-- CSS CALLS -->
    <link rel="stylesheet" href="../styles/listings_body.css" type="text/css" />

  </head>
  <body>
    <%- include('partials/nav') %>

    <main class="container">

      <section class="item_body">
        <section>
          <header>My Favourite Items</header>
          <label class="desc">Your Favourite Items From Around Town!</label>
          <div class="favourite_items">

            <div class="listing">
              <img src="/images/Torch-A.png">
              <i class="fa-solid fa-heart"></i>
              <div class="item_info">
                <label class="name">Torch A</label>
                <label class="cost">10 Gold Coins</label>
              </div>
            </div>

            <div class="listing">
              <img src="/images/Torch-A.png">
              <i class="fa-solid fa-heart"></i>
              <div class="item_info">
                <label class="name">Torch A</label>
                <label class="cost">10 Gold Coins</label>
              </div>
            </div>

            <div class="listing">
              <img src="/images/Torch-A.png">
              <i class="fa-solid fa-heart"></i>
              <div class="item_info">
                <label class="name">Torch A</label>
                <label class="cost">10 Gold Coins</label>
              </div>
            </div>

            <div class="listing">
              <img src="/images/Torch-A.png">
              <i class="fa-solid fa-heart"></i>
              <div class="item_info">
                <label class="name">Crate of Rotten Tomatoes</label>
                <label class="cost">10 Gold Coins</label>
              </div>
            </div>

          </div>
        </section>
      </section>

    </main>
  </body>
</html>
