<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT Sans Narrow' rel='stylesheet'>

    <!-- CSS CALLS -->

    <link rel="stylesheet" href="../styles/new_listing.css" type="text/css" />

  </head>
  <body>
    <%- include('partials/nav') %>

    <main class="container">
      <section class='new-listing'>
        <header>Create A New Listing</header>
        <label class="desc">Make A Listing To Sell To People Near You!</label>

        <section class="listing-info" id="listing-info">
          <form id="create-listing">
              <textarea name="listing-title" id="listing-title" placeholder="Title"></textarea>
              <textarea name="listing-desc" id="listing-desc" placeholder="Description"></textarea>

              <input type="number" name="listing-price" id="listing-price" placeholder="Price"></textarea>
              <textarea name="listing-img-url" id="listing-img-url" placeholder="URL"></textarea>

              <div class="checkboxes">
                <label for="listing-is-farming">
                  <input type="checkbox" id="listing-is-farming" />Farming</label>
                <label for="listing-is-lighting">
                  <input type="checkbox" id="listing-is-lighting" />Lighting</label>
                <label for="listing-is-food">
                  <input type="checkbox" id="listing-is-food" />Food</label>
                <label for="listing-is-misc">
                  <input type="checkbox" id="listing-is-misc" />Misc.</label>
              </div>
              <button type="submit">Submit</button>
            </div>
          </form>
        </section>

      </section>

    </main>
  </body>
</html>
