main.container {
  display: flex;
  height:auto;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  flex-direction: column;
  background-color: rgb(200,200,200);
}

@media only screen and (min-width: 1200px) {
  main.container {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 1200px ) and (min-width: 1024px) {
  main.container {
    margin-top: 210px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 600px){
  main.container {
    margin-top: 270px;
  }
}

@media only screen and (max-width: 600px){
  main.container {
    margin-top: 270px;
  }
}

section.item_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

section.item_body section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid black;
  margin-top: 50px;
}

section.item_body label.sold-label{
  display: flex;
  width: 296px;
  height: 1.5em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 40px;
  font-family: 'PT Sans Narrow','Sans-serif';
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 2px solid black;
  border-radius: 0.2em;
}


section.item_body i{
  display: flex;
  color: silver;
  // background-color: #888888;
  padding: 3px;
  // border: 2px solid black;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

section.item_body i.favourited{
  color:#7a0606;
}

section.item_body i:hover {
  display: flex;
  color: rgb(212, 212, 212);
}

section.item_body header {
  display: flex;
  font-size: 64px;
  font-family: 'Yellowtail','PT Sans Narrow';
  margin-top: 0.5em;
}

section.item_body label.desc {
  display: flex;
  font-size: 16px;
  font-family: 'PT Sans Narrow','Sans-serif';
  margin-bottom: 1em;
}

section.item_body div.featured_items {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section.item_body div.all_items {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section.item_body div.my_items {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section.item_body div.favourite_items {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section.item_body div.listing {
  display: flex;
  position: relative;
  height: 450px;
  width: 300px;
  border: 3px solid rgb(150, 0, 0);
  flex-direction: column;
  align-items: center;
  background-color: rgb(150, 0, 0);
  margin: 1em;
  border-radius: 1em;
}

section.item_body div.listing:hover {
  box-shadow: 10px 10px 8px #888888;
}

section.item_body img {
  display: flex;
  height: 350px;
  width: 300px;
  margin-bottom: 4em;
  border-radius: 1em;
}

section.item_body div.item_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.item_body label.name {
  display: flex;
  font-size: 30px;
  font-family: 'PT Sans Narrow','Sans-serif';
  color: white;
  position: absolute;
  bottom: 50px;
  text-align: center;
  border-bottom: 2px solid white;
}

section.item_body label.username {
  display: flex;
  font-size: 20px;
  font-family: 'Yellowtail','Sans-serif';
  color: white;
  margin-right: 1em;
}

section.item_body label.cost {
  display: flex;
  font-size: 20px;
  color: rgb(200,200,200);
  font-family: 'PT Sans Narrow','Sans-serif';
}




