nav{
  display: flex;
  top: 0;
  left: 0;
  height: 200px;
  width: 100vw;
  background-image: url('/images/Red-Background.png');
  justify-content: space-between;
  position: fixed;
  z-index:1;
}

nav img {
  display: flex;
  width: 8em;
  height: 8em;
  margin-top: 2em;
  margin-left: 2em;
}

nav div.img_div {
  display: flex;
  width: 300px;
}

nav div.navMiddle{
  display: flex;
  width: 60vw;
  align-items: center;
  flex-direction: column;
}

nav div.topMid{
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-evenly;
  font-size: 24px;
}

nav div.topMid button{
  display: flex;
  font-family: 'PT Sans Narrow','Sans-serif';
  font-size: 24px;
  padding-right: 2em;
  padding-left: 2em;
  margin-top: 1em;
  border: none;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color: transparent;
}

nav div.topMid button:hover{
  color: rgb(85,85,85);
}

nav div.title {
  display: flex;

}

nav div.title button {
  display: flex;
  font-size: 80px;
  font-family: 'Yellowtail','PT Sans Narrow';
  background-color: transparent;
  border: none;
  border-bottom: 4px solid black;
}

nav div.buttons{
  display: flex;
  width: 300px;
}

nav div.buttons button {
  display: flex;
  font-size: 24px;
  font-family: 'PT Sans Narrow','Sans-serif';
  margin-top: 1em;
  margin-right: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
  background-color: rgb(160,160,160);
}

nav div.buttons button:hover {
  background-color: rgb(85,85,85);
}
