main.container {
  display: flex;
  height: auto;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  flex-direction: column;
  background-color: rgb(200,200,200);
  padding-bottom: 100px;
}

section.new-listing{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid black;
  margin-top: 50px;
}

section.new-listing header {
  display: flex;
  font-family: 'Yellowtail','PT Sans Narrow';
  margin-top: 0.5em;
}

@media only screen and (min-width: 1200px) {
  main.container {
    margin-top: 200px;
  }

  section.new-listing header {
    display: flex;
    font-size: 64px;
  }

  section.new-listing button{
    display: flex;
    font-size: 32px;
    width: 15vw;
  }
}

@media only screen and (max-width: 1200px ) and (min-width: 1024px) {
  main.container {
    margin-top: 210px;
  }

  section.new-listing header {
    display: flex;
    font-size: 60px;
  }

  section.new-listing button{
    display: flex;
    font-size: 28px;
    width: 20vw;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 600px){
  main.container {
    margin-top: 270px;
  }

  section.new-listing header {
    display: flex;
    font-size: 56px;
  }

  section.new-listing button{
    display: flex;
    font-size: 28px;
    width: 20vw;
  }
}

@media only screen and (max-width: 600px){
  main.container {
    margin-top: 270px;
  }

  section.new-listing header {
    display: flex;
    font-size: 48px;
  }

  section.new-listing button{
    display: flex;
    font-size: 24px;
    width: 25vw;
  }
}

section.new-listing label.desc {
  display: flex;
  font-size: 16px;
  font-family: 'PT Sans Narrow','Sans-serif';
  margin-bottom: 1em;
}

section.new-listing form{
  display: flex;
  flex-direction: column;
}

section.new-listing textarea{
  display: flex;
  font-size: 24px;
  font-family: 'PT Sans Narrow','Sans-serif';
  width: 30vw;
  height: 1.5em;
  resize: none;
  border: 0 none;
  background: transparent;
  outline: none;
  border-bottom: 0.2em solid black;
  margin: 0.5em;
}

section.new-listing #listing-price{
  display: flex;
  font-size: 24px;
  font-family: 'PT Sans Narrow','Sans-serif';
  width: 30vw;
  height: 1.5em;
  resize: none;
  border: 0 none;
  background: transparent;
  outline: none;
  border-bottom: 0.2em solid black;
  margin: 0.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.new-listing div.checkboxes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
}

section.new-listing div.checkboxes label{
  display: flex;
  font-size: 24px;
  font-family: 'PT Sans Narrow','Sans-serif';
}

section.new-listing button{
  display: flex;
  height: 1.5em;
  font-family: 'PT Sans Narrow','Sans-serif';
  border: 2px solid black;
  margin: auto;
  margin-top: 2em;
  background-color: rgb(160,160,160);
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
}

section.new-listing button:hover{
  background-color: rgb(85,85,85);
}


