section.search_listings {
  display: flex;
  height: 150px;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

section.search_listings form{
  display: flex;
  flex-direction: column;
}

section.search_listings div.upper-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

section.search_listings i{
  display: flex;
  font-size: 24px;
}

section.search_listings #search-text{
  display: flex;
  font-size: 24px;
  font-family: 'PT Sans Narrow','Sans-serif';
  width: 35vw;
  height: 1.5em;
  resize: none;
  border: 0 none;
  background: transparent;
  outline: none;
  border-bottom: 0.2em solid black;
  margin: 0.5em;
}

section.search_listings div.bottom_search{
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.search_listings #search-max{
  display: flex;
  font-family: 'PT Sans Narrow','Sans-serif';
  height: 1.5em;
  resize: none;
  border: 0 none;
  background: transparent;
  outline: none;
  border-bottom: 0.2em solid black;
  margin: 0.5em 0.5em 0.5em 1.5em;
}

section.search_listings #search-min{
  display: flex;
  font-family: 'PT Sans Narrow','Sans-serif';
  height: 1.5em;
  resize: none;
  border: 0 none;
  background: transparent;
  outline: none;
  border-bottom: 0.2em solid black;
  margin: 0.5em 1.5em 0.5em 0.5em;
}

section.search_listings div.checkboxes{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 1024px) {

  section.search_listings #search-text{
    display: flex;
    width: 35vw;
  }

  section.search_listings #search-min{
    display: flex;
    font-size: 24px;
    width: 10vw;
  }

  section.search_listings #search-max{
    display: flex;
    font-size: 24px;
    width: 10vw;
  }

  section.search_listings div.checkboxes label{
    display: flex;
    font-size: 18px;
    font-family: 'PT Sans Narrow','Sans-serif';
  }

  section.search_listings div.checkboxes{
    display: flex;
    margin-right: 0.5em;
  }
}

@media only screen and (max-width: 1024px) {

  section.search_listings #search-text{
    display: flex;
    width: 50vw;
  }

  section.search_listings #search-min{
    display: flex;
    font-size: 18px;
    width: 12vw;
  }

  section.search_listings #search-max{
    display: flex;
    font-size: 18px;
    width: 12vw;
  }

  section.search_listings div.checkboxes label{
    display: flex;
    font-size: 12px;
    font-family: 'PT Sans Narrow','Sans-serif';
  }

  section.search_listings div.checkboxes{
    display: flex;
    margin-right: 1em;
  }
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.search_listings button{
  display: flex;
  font-size: 24px;
  height: 1.5em;
  font-family: 'PT Sans Narrow','Sans-serif';
  border: 2px solid black;
  margin: auto;
  background-color: rgb(160,160,160);
  border-radius: 0.2em;
}

section.search_listings button:hover{
  background-color: rgb(85,85,85);
}
