main.container {
  display: flex;
  height: auto;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background-color: rgb(200,200,200);
  flex-direction: column;
}

section.main-section {
  display: flex;
  flex-direction: column;
}

section.info {
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

section.info header {
  display: flex;
  font-size: 64px;
  font-family: 'PT Sans Narrow','Sans-serif';
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 3px solid black;
}

label.ft {
  display: flex;
  color: rgb(150, 0, 0);
  border: 1px solid rgb(150, 0, 0);
  background-color: #888888;
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
}

section.info img{
  display: flex;
  height: 500px;
  width: 500px;
}

section.info div.info-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.info div.info-bottom {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2em;
}

section.info label.user {
  display: flex;
  font-size: 48px;
  font-family: 'Yellowtail','PT Sans Narrow';
}

section.info label.desc {
  display: flex;
  width: 750px;
  min-height: 100px;
  font-size: 28px;
  font-family: 'PT Sans Narrow','Sans-serif';
  margin-top: 0.5em;
  padding: 0.2em;
  border: 2px solid black;
  word-wrap: normal;
  align-items: center;
}

section.info label.price {
  display: flex;
  font-size: 24px;
  font-family: 'PT Sans Narrow','Sans-serif';
}

section.comments{
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

section.comments header{
  display: flex;
  font-family: 'PT Sans Narrow','Sans-serif';
  font-size: 24px;
  margin: 0.5em 0 0 0.5em;
  border-bottom: 1px solid black;
}

section.comments .empty{
  display: flex;
  font-family: 'PT Sans Narrow','Sans-serif';
  font-size: 18px;
  margin: 0.5em 0 0 1em;
}

section.comments div.comment{
  display: flex;
  height: auto;
  width: 500px;
  flex-direction: column;
  font-family: 'PT Sans Narrow','Sans-serif';
  font-size: 24px;
  margin: 0.5em 0 0.5em 0.5em;
  border: 2px solid black;
  align-items: flex-start;
  padding: 0.5em;
}

section.comments div.comment .user{
  display: flex;
  font-family: 'Yellowtail','PT Sans Narrow';
  font-size: 18px;
  border-bottom: 1px solid black;
}

section.comments div.comment .content{
  display: flex;
  font-family: 'PT Sans Narrow','Sans-serif';
  font-size: 24px;

}

section.comments form{
  display: flex;
  flex-direction: row;
}

section.comments #new-comment{
  display: flex;
  font-size: 18px;
  font-family: 'PT Sans Narrow','Sans-serif';
  width: 400px;
  height: 1.5em;
  resize: none;
  border: 0 none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid black;
  margin: 1em 0 1em 1em;
}

section.comments #comment-button{
  display: flex;
  font-size: 18px;
  font-family: 'PT Sans Narrow','Sans-serif';
  width: 100px;
  height: 1.5em;
  background-color: #888888;
  border: none;
  margin: 1em 1em 1em 0.5em;
  justify-content: center;
  align-items: center;
}
